{% extends 'homepage.html' %}
{% block content %}
<form method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><h3>Title</h3></label>
      <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"><h3>content</h3></label>
        <input type="text" class="form-control" name="content" id="exampleInputPassword1">
      </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"><h3>slug</h3></label>
        <input type="text" class="form-control" name="slug" id="exampleInputPassword1">
    </div>
    <center>
    <button type="submit" class="btn btn-primary">submit</button>
    </center>
 </form>
{% endblock %}